# Example

For this example we use the following packages:
- `requests` (built-in)
- `json` (built-in)
- `pandas` (version 1.1.3)

See https://github.com/kallewesterling/drag-dataset/blob/main/requirements.txt for the requirements

In [2]:
import requests, json
import pandas as pd

Use `requests` to load the data:

In [3]:
r = requests.get('https://github.com/kallewesterling/drag-dataset/raw/main/data/full.json')

Ensure that the loading went well:

In [4]:
if not r.status_code == 200:
    raise RuntimeError(f'Encountered wrong status code ({r.status_code}), make sure all the addresses are correct.')

Use `json` package to read the resulting text:

In [5]:
json_data = json.loads(r.text)

The entire dataset can then easily be loaded into a pandas DataFrame (`df`):

In [6]:
df = pd.DataFrame(json_data)

Have a look at the DataFrame by using the built-in method `.head()`:

In [7]:
df.head()

,Date,Category,Performer,Normalized performer,Performer first-name,Performer last-name,Venue,Normalized Venue,City,Normalized City,...,Comment on edge: revue,Blackface,Sepia,Fan dancer/Sally Rand,Exotic/erotic/oriental dancer/Gypsy,Has image,Address,Vaudeville Circuit/Circus,Unsure whether drag artist,Year
0,1940-02-24,,—,Roni Warren,Roni,Warren,Smith's Tavern,Smith's Tavern,"Troy, NY","Albany, NY",...,,,,,,True,,,,1940
1,1940-06-20,,—,Francis Renault,Francis,Renault,Club 76,Club 76,"Battle Creek, MI","Battle Creek, MI",...,,,,,,True,,,,1940
2,1932-11-02,,—,Francis Renault,Francis,Renault,Paramount,Paramount Theatre,"Des Moines, IA","Des Moines, IA",...,,,,,,True,,,,1932
3,1930-02-17,,—,Francis Renault,Francis,Renault,RKO Orpheum,Orpheum Theatre,"Des Moines, IA","Des Moines, IA",...,,,,,,True,,RKO,,1930
4,1935-01-30,,—,Francis Renault,Francis,Renault,Cameo,Cameo Theatre,"Hartford, CT","Hartford, CT",...,,,,,,True,,,,1935

# Pairings

If you want to have a look at a particular pairing of data, here is an example.

We use the pairing of normalized performer names and normalized city names below but you can look in the `/pairings/` directory for more data files.

Once again, we use `requests` to load the data:

In [8]:
r = requests.get('https://github.com/kallewesterling/drag-dataset/raw/main/data/pairings/normalized_performer-normalized_city.json')

We should also, like above, make sure that our loading went well:

In [9]:
if not r.status_code == 200:
    raise RuntimeError(f'Encountered wrong status code ({r.status_code}), make sure all the addresses are correct.')

Use `json` package to read the resulting text:

In [10]:
json_data = json.loads(r.text)

Now the `json_data` can be used like any dictionary.

For example, we can loop through and look at the way that we have some data for different performers.

In [11]:
for performer, city in json_data.items():
    if not performer:
        print(f'{len(city)} cities registered with no named performers.')
        continue
    print(f'{performer} appeared in {len(city)} cities across the dataset. For instance:', '; '.join(city[:3]))

62 cities registered with no named performers.
Adrian Ames appeared in 27 cities across the dataset. For instance: Buffalo, NY; Chicago, IL; Delaware, NJ
Adrian Norris appeared in 1 cities across the dataset. For instance: Pittsburgh, PA
Adrienne appeared in 1 cities across the dataset. For instance: New York, NY
Agnes Roberts appeared in 1 cities across the dataset. For instance: Philadelphia, PA
Aimee Joye appeared in 1 cities across the dataset. For instance: Philadelphia, PA
Al Benson appeared in 1 cities across the dataset. For instance: Chicago, IL
Al De Lage appeared in 1 cities across the dataset. For instance: Detroit, MI
Al DeMarco appeared in 3 cities across the dataset. For instance: Miami, FL; New York, NY; Philadelphia, PA
Al Garbell appeared in 1 cities across the dataset. For instance: Chicago, IL
Al Lucas appeared in 1 cities across the dataset. For instance: Warren, PA
Al Ray appeared in 2 cities across the dataset. For instance: Chicago, IL; Cincinnati, OH
Al St. Clair appeared in 1 cities across the dataset. For instance: San Francisco, CA
Al Sterling appeared in 1 cities across the dataset. For instance: Cleveland, OH
Alan Gray appeared in 0 cities across the dataset. For instance:
Albert Henry Cook appeared in 0 cities across the dataset. For instance:
Albert Hogue appeared in 1 cities across the dataset. For instance: Worcester, MA
Alberta Vaughn appeared in 11 cities across the dataset. For instance: Benton Harbor, MI; Binghamton, NY; Jamestown, NY
Alden Garrison appeared in 2 cities across the dataset. For instance: Baltimore, MD; Washington DC
Alfred Carmen appeared in 1 cities across the dataset. For instance: Albany, NY
Alice E. Murphy appeared in 1 cities across the dataset. For instance: Atlantic City, NJ
Alice Rydner appeared in 1 cities across the dataset. For instance: Chicago, IL
Alice White appeared in 1 cities across the dataset. For instance: Chicago, IL
Allan Cook appeared in 0 cities across the dataset. For instance:
Allen Carl appeared in 1 cities across the dataset. For instance: Atlantic City, NJ
Andrew Tribble appeared in 4 cities across the dataset. For instance: Atlantic City, NJ; Baltimore, MD; Chicago, IL
Andy Cliff appeared in 2 cities across the dataset. For instance: Atlantic City, NJ; New York, NY
Anita James appeared in 1 cities across the dataset. For instance: Detroit, MI
Anthony DiMeo appeared in 1 cities across the dataset. For instance: Philadelphia, PA
Arica Wild appeared in 4 cities across the dataset. For instance: Albany, NY; Atlantic City, NJ; New York, NY
Art Bernard appeared in 1 cities across the dataset. For instance: Akron, OH
Art West appeared in 5 cities across the dataset. For instance: Chicago, IL; Cleveland, OH; Kansas City, MO
Arthur Budd appeared in 2 cities across the dataset. For instance: Miami, FL; New York, NY
Arthur G. West appeared in 10 cities across the dataset. For instance: Binghamton, NY; Chicago, IL; Des Moines, IA
Arthur La Delle appeared in 2 cities across the dataset. For instance: Reno, NV; Salem, OR
Arthur Verity appeared in 1 cities across the dataset. For instance: Syracuse, NY
Arthur Wilson appeared in 0 cities across the dataset. For instance:
Arvin Giese appeared in 0 cities across the dataset. For instance:
Au Sing appeared in 2 cities across the dataset. For instance: Cincinnati, OH; Newport, KY
Audri Ann appeared in 1 cities across the dataset. For instance: Detroit, MI
Bab Garrison appeared in 2 cities across the dataset. For instance: Baltimore, MD; Washington DC
Babe Allen appeared in 4 cities across the dataset. For instance: Baltimore, MD; Chicago, IL; Kansas City, MO
Babe Baker appeared in 3 cities across the dataset. For instance: Miami, FL; New Castle, PA; New York, NY
Babe Gordon appeared in 1 cities across the dataset. For instance: Philadelphia, PA
Baby Jan Ray appeared in 1 cities across the dataset. For instance: Lima, OH
Baby Scruggs appeared in 1 cities across the dataset. For instance: Chicago, IL
Barbette appeared in 2 cities across the dataset. For instance: Kursaal, Switzerland; New York, NY
Beale St. Boys appeared in 1 cities across the dataset. For instance: New York, NY
Beatrice Howle appeared in 1 cities across the dataset. For instance: Chicago, IL
Bee Lockhart appeared in 1 cities across the dataset. For instance: New York, NY
Bel Ager appeared in 1 cities across the dataset. For instance: Cincinnati, OH
Benny Pauly appeared in 2 cities across the dataset. For instance: Bloomington, IL; Cincinnati, OH
Bernice Hollenbeck appeared in 1 cities across the dataset. For instance: Syracuse, NY
Bernie Salin appeared in 1 cities across the dataset. For instance: Idaho Falls, ID
Bert Errol appeared in 3 cities across the dataset. For instance: Buffalo, NY; Chicago, IL; New York, NY
Bert Kelley appeared in 1 cities across the dataset. For instance: New York, NY
Bert Savoy appeared in 0 cities across the dataset. For instance:
Bert Sherry appeared in 1 cities across the dataset. For instance: Baltimore, MD
Bert Wheeler appeared in 2 cities across the dataset. For instance: New York, NY; Seattle, WA
Bertie Bierman appeared in 1 cities across the dataset. For instance: St. Louis, MO
Bessie Brennan appeared in 1 cities across the dataset. For instance: Philadelphia, PA
Bette Newmon appeared in 2 cities across the dataset. For instance: Miami, FL; New York, NY
Betty Borgreve appeared in 1 cities across the dataset. For instance: New York, NY
Betty Colton appeared in 1 cities across the dataset. For instance: New York, NY
Betty Juhlien appeared in 1 cities across the dataset. For instance: Seattle, WA
Betty Lee appeared in 1 cities across the dataset. For instance: Philadelphia, PA
Betty Munden appeared in 1 cities across the dataset. For instance: Kansas City, MO
Beulah Kennedy appeared in 1 cities across the dataset. For instance: Atlantic City, NJ
Bill Howard appeared in 1 cities across the dataset. For instance: Miami, FL
Bill Jones appeared in 0 cities across the dataset. For instance:
Bill Kennedy appeared in 1 cities across the dataset. For instance: Miami, FL
Bill Nealy appeared in 1 cities across the dataset. For instance: Asbury Park, NJ
Billie Berke appeared in 1 cities across the dataset. For instance: Akron, OH
Billie Beryl appeared in 7 cities across the dataset. For instance: Bakersfield, CA; Baltimore, MD; Cincinnati, OH
Billie Brannon appeared in 9 cities across the dataset. For instance: Asbury Park, NJ; Baltimore, MD; Buffalo, NY
Billie Dale appeared in 1 cities across the dataset. For instance: Rock Island, IL
Billie Davis appeared in 2 cities across the dataset. For instance: Atlantic City, NJ; New York, NY
Billie Dove appeared in 1 cities across the dataset. For instance: Washington DC
Billie Gilbert appeared in 1 cities across the dataset. For instance: Kansas City, MO
Billie Kemp appeared in 1 cities across the dataset. For instance: Newport, KY
Billie Marsh appeared in 0 cities across the dataset. For instance:
Billie McAllister appeared in 2 cities across the dataset. For instance: Chicago, IL; Washington DC
Billie Richmond appeared in 1 cities across the dataset. For instance: Philadelphia, PA
Billie Russell appeared in 3 cities across the dataset. For instance: Chicago, IL; Kansas City, MO; Miami, FL
Billie Sinclair appeared in 1 cities across the dataset. For instance: Chicago, IL
Billy appeared in 1 cities across the dataset. For instance: New York, NY
Billy "Senorita" Herrera appeared in 20 cities across the dataset. For instance: Atlanta, GA; Baltimore, MD; Chicago, IL
Billy Ardelle appeared in 0 cities across the dataset. For instance:
Billy Brill appeared in 5 cities across the dataset. For instance: Atlantic City, NJ; Baltimore, MD; Detroit, MI
Billy Byrne appeared in 0 cities across the dataset. For instance:
Billy Daye appeared in 1 cities across the dataset. For instance: New York, NY
Billy Earle appeared in 1 cities across the dataset. For instance: Sacramento, CA
Billy Hayes appeared in 8 cities across the dataset. For instance: Benton Harbor, MI; Detroit, MI; Lexington, KY
Billy Irwin appeared in 2 cities across the dataset. For instance: Cincinnati, OH; Zanesville, OH
Billy Joy appeared in 2 cities across the dataset. For instance: Detroit, MI; New York, NY
Billy Kamp appeared in 1 cities across the dataset. For instance: Cincinnati, OH
Billy Kent appeared in 1 cities across the dataset. For instance: Akron, OH
Billy Lamont appeared in 2 cities across the dataset. For instance: Cincinnati, OH; Detroit, MI
Billy Lynn appeared in 1 cities across the dataset. For instance: Sacramento, CA
Billy Monti appeared in 1 cities across the dataset. For instance: Miami, FL
Billy Nichols appeared in 0 cities across the dataset. For instance:
Billy O'Brien appeared in 2 cities across the dataset. For instance: New York, NY; Syracuse, NY
Billy Pinnell appeared in 1 cities across the dataset. For instance: Columbus, OH
Billy Reed appeared in 1 cities across the dataset. For instance: New York, NY
Billy Richards appeared in 9 cities across the dataset. For instance: Chicago, IL; Cincinnati, OH; Echo, LA
Billy Rohmer appeared in 9 cities across the dataset. For instance: Chicago, IL; Cleveland, OH; Detroit, MI
Billy Rosser appeared in 1 cities across the dataset. For instance: Miami, FL
Billy Turner appeared in 1 cities across the dataset. For instance: Warren, PA
Billy West appeared in 6 cities across the dataset. For instance: Albany, NY; Baltimore, MD; Delaware, NJ
Blackie Dennis appeared in 2 cities across the dataset. For instance: Miami, FL; New York, NY
Bob Lake appeared in 1 cities across the dataset. For instance: New York, NY
Bob Mack appeared in 1 cities across the dataset. For instance: Reno, NV
Bob Smith appeared in 3 cities across the dataset. For instance: Boston, MA; New York, NY; Portland, ME
Bobbie Baker appeared in 1 cities across the dataset. For instance: Syracuse, NY
Bobbie Bell appeared in 9 cities across the dataset. For instance: Akron, OH; Chicago, IL; Cincinnati, OH
Bobbie Blue appeared in 1 cities across the dataset. For instance: Kansas City, MO
Bobbie Chapman appeared in 1 cities across the dataset. For instance: Chicago, IL
Bobbie Clark appeared in 3 cities across the dataset. For instance: New York, NY; Pittsburgh, PA; Portland, ME
Bobbie Davis appeared in 2 cities across the dataset. For instance: Chicago, IL; New York, NY
Bobbie Grant appeared in 1 cities across the dataset. For instance: Chicago, IL
Bobbie Kaye appeared in 2 cities across the dataset. For instance: Detroit, MI; Kansas City, MO
Bobbie La Marr appeared in 14 cities across the dataset. For instance: Albany, NY; Buffalo, NY; Chicago, IL
Bobbie Macklin appeared in 1 cities across the dataset. For instance: Chicago, IL
Bobbie Marlowe appeared in 2 cities across the dataset. For instance: Pittsburgh, PA; Warren, PA
Bobbie Ray appeared in 3 cities across the dataset. For instance: New York, NY; Portland, ME; Sacramento, CA
Bobbie Rowland appeared in 1 cities across the dataset. For instance: New York, NY
Bobby Allen appeared in 9 cities across the dataset. For instance: Benton Harbor, MI; Cincinnati, OH; Dayton, OH
Bobby Anderson appeared in 2 cities across the dataset. For instance: Los Angeles, CA; Miami, FL
Bobby Bell appeared in 3 cities across the dataset. For instance: Kansas City, MO; New Orleans, LA; San Antonio, TX
Bobby Brennan appeared in 7 cities across the dataset. For instance: Akron, OH; Albany, NY; Cincinnati, OH
Bobby Brown appeared in 1 cities across the dataset. For instance: Syracuse, NY
Bobby Cummins appeared in 1 cities across the dataset. For instance: Kansas City, MO
Bobby D'Castro appeared in 1 cities across the dataset. For instance: San Francisco, CA
Bobby Dean appeared in 1 cities across the dataset. For instance: Philadelphia, PA
Bobby Dell appeared in 4 cities across the dataset. For instance: Detroit, MI; New York, NY; Philadelphia, PA
Bobby Ferguson appeared in 2 cities across the dataset. For instance: Detroit, MI; Washington DC
Bobby Gay appeared in 1 cities across the dataset. For instance: Hartford, CT
Bobby Gordon appeared in 3 cities across the dataset. For instance: Los Angeles, CA; San Antonio, TX; San Francisco, CA
Bobby Grant appeared in 3 cities across the dataset. For instance: Chicago, IL; Kansas City, MO; Nashville, TN
Bobby Hayes appeared in 1 cities across the dataset. For instance: Syracuse, NY
Bobby Johnson appeared in 6 cities across the dataset. For instance: Asbury Park, NJ; Cleveland, OH; Detroit, MI
Bobby Jones appeared in 3 cities across the dataset. For instance: Lansing, MI; New York, NY; Philadelphia, PA
Bobby Kork appeared in 1 cities across the dataset. For instance: Philadelphia, PA
Bobby La Rue appeared in 9 cities across the dataset. For instance: Columbus, OH; Detroit, MI; East Liverpool, OH
Bobby Lane appeared in 1 cities across the dataset. For instance: East Liverpool, OH
Bobby Leonard appeared in 1 cities across the dataset. For instance: Baltimore, MD
Bobby Mason appeared in 1 cities across the dataset. For instance: Boston, MA
Bobby McNeer appeared in 1 cities across the dataset. For instance: New York, NY
Bobby Mitchell appeared in 1 cities across the dataset. For instance: Shamokin, PA
Bobby Morris appeared in 0 cities across the dataset. For instance:
Bobby Norman appeared in 6 cities across the dataset. For instance: Binghamton, NY; Jamestown, NY; New York, NY
Bobby Roberts appeared in 1 cities across the dataset. For instance: Salinas, CA
Bobby Royce appeared in 0 cities across the dataset. For instance:
Bobby Stevens appeared in 1 cities across the dataset. For instance: Chicago, IL
Bobby Sullivan appeared in 2 cities across the dataset. For instance: Albany, NY; Saratoga Springs, NY
Bobby Trent appeared in 2 cities across the dataset. For instance: Hazleton, PA; Miami, FL
Bobby Verrill appeared in 1 cities across the dataset. For instance: Syracuse, NY
Bobby Young appeared in 1 cities across the dataset. For instance: Salinas, CA
Bohannan appeared in 1 cities across the dataset. For instance: Chicago, IL
Bonnie appeared in 1 cities across the dataset. For instance: New York, NY
Bonnie Clark appeared in 1 cities across the dataset. For instance: New York, NY
Bonnie Lee appeared in 1 cities across the dataset. For instance: Kansas City, MO
Boots Lavana appeared in 4 cities across the dataset. For instance: Baltimore, MD; Buffalo, NY; Cleveland, OH
Bothwell Browne appeared in 2 cities across the dataset. For instance: Indianapolis, IN; San Francisco, CA
Brannan Fernandez appeared in 0 cities across the dataset. For instance:
Brooks Twins appeared in 2 cities across the dataset. For instance: Baltimore, MD; Detroit, MI
Bucky Buckworth appeared in 1 cities across the dataset. For instance: Freeport, NY
Bud Byron appeared in 1 cities across the dataset. For instance: Chicago, IL
Bud Hart appeared in 1 cities across the dataset. For instance: Benton Harbor, MI
Buddy Mayo appeared in 4 cities across the dataset. For instance: Amory, MS; Benton Harbor, MI; Cincinnati, OH
Buddy Rokahr appeared in 1 cities across the dataset. For instance: El Paso, TX
Bunny appeared in 1 cities across the dataset. For instance: New York, NY
Bunny Bates appeared in 1 cities across the dataset. For instance: New York, NY
Bunny Daye appeared in 1 cities across the dataset. For instance: Sacramento, CA
Bunny Dorne appeared in 1 cities across the dataset. For instance: Kansas City, MO
Bunny Thomas appeared in 1 cities across the dataset. For instance: Philadelphia, PA
Buster Brant appeared in 1 cities across the dataset. For instance: Zanesville, OH
Buster Hewitt appeared in 1 cities across the dataset. For instance: East Liverpool, OH
Candace appeared in 1 cities across the dataset. For instance: Flagstaff, AZ
Candy Cain appeared in 0 cities across the dataset. For instance:
Cardie Woodie appeared in 1 cities across the dataset. For instance: Baltimore, MD
Carey Davis appeared in 1 cities across the dataset. For instance: Kansas City, MO
Carl Clewis appeared in 2 cities across the dataset. For instance: Atlantic City, NJ; Los Angeles, CA
Carl Nixon appeared in 1 cities across the dataset. For instance: New York, NY
Carll Morgan appeared in 1 cities across the dataset. For instance: Cincinnati, OH
Carlo Levins appeared in 4 cities across the dataset. For instance: Benton Harbor, MI; Lansing, MI; Lexington, KY
Carlos J. Henderson appeared in 1 cities across the dataset. For instance: New York, NY
Carmen Del Carmen appeared in 1 cities across the dataset. For instance: Council Bluffs, IA
Carmencita appeared in 1 cities across the dataset. For instance: Cincinnati, OH
Carol Lee appeared in 1 cities across the dataset. For instance: Chicago, IL
Carol Mack appeared in 2 cities across the dataset. For instance: Kansas City, MO; New York, NY
Carole Le Claire appeared in 1 cities across the dataset. For instance: Syracuse, NY
Carrol Thomas appeared in 1 cities across the dataset. For instance: Cincinnati, OH
Carroll appeared in 1 cities across the dataset. For instance: Fairbanks, AK
Carroll Davis appeared in 1 cities across the dataset. For instance: San Francisco, CA
Carroll Wallace appeared in 2 cities across the dataset. For instance: Sacramento, CA; San Francisco, CA
Cary Davis appeared in 1 cities across the dataset. For instance: San Francisco, CA
Cecil Mason appeared in 1 cities across the dataset. For instance: New York, NY
Ceylon appeared in 1 cities across the dataset. For instance: New York, NY
Champagne appeared in 2 cities across the dataset. For instance: Boston, MA; Downington, PA
Charles Alexander appeared in 1 cities across the dataset. For instance: Pittsburgh, PA
Charles Ander appeared in 1 cities across the dataset. For instance: Washington DC
Charles Bell appeared in 1 cities across the dataset. For instance: Columbus, OH
Charles Busch appeared in 1 cities across the dataset. For instance: New York, NY
Charles Davis appeared in 1 cities across the dataset. For instance: Washington DC
Charles Hooven appeared in 1 cities across the dataset. For instance: New York, NY
Charles Moore appeared in 1 cities across the dataset. For instance: Buena Vista Springs, PA
Charles Pierce appeared in 1 cities across the dataset. For instance: Los Angeles, CA
Charles Wilhelm appeared in 1 cities across the dataset. For instance: Indianapolis, IN
Charley Anderson appeared in 1 cities across the dataset. For instance: Chicago, IL
Charley Brugnone appeared in 1 cities across the dataset. For instance: St. Louis, MO
Charlie Neid appeared in 1 cities across the dataset. For instance: Philadelphia, PA
Cherie O'Dea appeared in 1 cities across the dataset. For instance: Miami, FL
Chick Chandler appeared in 0 cities across the dataset. For instance:
Chicki Forrest appeared in 1 cities across the dataset. For instance: San Antonio, TX
Chickie Charms appeared in 2 cities across the dataset. For instance: Benton Harbor, MI; Chicago, IL
Chickie Mears appeared in 4 cities across the dataset. For instance: East Liverpool, OH; Lexington, KY; Los Angeles, CA
Chris Ames appeared in 1 cities across the dataset. For instance: New York, NY
Chris Bailey appeared in 1 cities across the dataset. For instance: Sacramento, CA
Christopher Bridgeman appeared in 1 cities across the dataset. For instance: Los Angeles, CA
Chubby Smith appeared in 1 cities across the dataset. For instance: Poughkeepsie, NY
Chuck Marvin appeared in 1 cities across the dataset. For instance: Sacramento, CA
Chunga Ochoa appeared in 1 cities across the dataset. For instance: New York, NY
Clair Carlisle appeared in 1 cities across the dataset. For instance: Minneapolis, MN
Claire Ray appeared in 1 cities across the dataset. For instance: New York, NY
Clara Bow appeared in 2 cities across the dataset. For instance: Baltimore, MD; Pittsburgh, PA
Clare St. Clair appeared in 1 cities across the dataset. For instance: Lansing, MI
Clarence Long appeared in 0 cities across the dataset. For instance:

Unnamed performer at Elm Lodge 15 appeared in 1 cities across the dataset. For instance: Syracuse, NY
Unnamed performer at Elm Lodge 2 appeared in 1 cities across the dataset. For instance: Syracuse, NY
Unnamed performer at Elm Lodge 3 appeared in 1 cities across the dataset. For instance: Syracuse, NY
Unnamed performer at Elm Lodge 4 appeared in 1 cities across the dataset. For instance: Syracuse, NY
Unnamed performer at Elm Lodge 5 appeared in 1 cities across the dataset. For instance: Syracuse, NY
Unnamed performer at Elm Lodge 6 appeared in 1 cities across the dataset. For instance: Syracuse, NY
Unnamed performer at Elm Lodge 7 appeared in 1 cities across the dataset. For instance: Syracuse, NY
Unnamed performer at Elm Lodge 8 appeared in 1 cities across the dataset. For instance: Syracuse, NY
Unnamed performer at Elm Lodge 9 appeared in 1 cities across the dataset. For instance: Syracuse, NY
Unnamed performer at Fox's Savoy appeared in 1 cities across the dataset. For instance: New York, NY
Unnamed performer at Frank White's 1 appeared in 1 cities across the dataset. For instance: Buffalo, NY
Unnamed performer at Frank White's 10 appeared in 1 cities across the dataset. For instance: Buffalo, NY
Unnamed performer at Frank White's 12 appeared in 1 cities across the dataset. For instance: Buffalo, NY
Unnamed performer at Frank White's 2 appeared in 1 cities across the dataset. For instance: Buffalo, NY
Unnamed performer at Frank White's 3 appeared in 1 cities across the dataset. For instance: Buffalo, NY
Unnamed performer at Frank White's 4 appeared in 1 cities across the dataset. For instance: Buffalo, NY
Unnamed performer at Frank White's 5 appeared in 1 cities across the dataset. For instance: Buffalo, NY
Unnamed performer at Frank White's 6 appeared in 1 cities across the dataset. For instance: Buffalo, NY
Unnamed performer at Frank White's 7 appeared in 1 cities across the dataset. For instance: Buffalo, NY
Unnamed performer at Frank White's 8 appeared in 1 cities across the dataset. For instance: Buffalo, NY
Unnamed performer at Frank White's 9 appeared in 1 cities across the dataset. For instance: Buffalo, NY
Unnamed performer at Garden of Allah 1 appeared in 1 cities across the dataset. For instance: Oklahoma City, OK
Unnamed performer at Garden of Allah 2 appeared in 1 cities across the dataset. For instance: Oklahoma City, OK
Unnamed performer at Garden of Allah 3 appeared in 1 cities across the dataset. For instance: Oklahoma City, OK
Unnamed performer at Grand View Cabaret 1 appeared in 1 cities across the dataset. For instance: Paterson, NJ
Unnamed performer at Grand View Cabaret 2 appeared in 1 cities across the dataset. For instance: Paterson, NJ
Unnamed performer at Grand View Cabaret 3 appeared in 1 cities across the dataset. For instance: Paterson, NJ
Unnamed performer at Grand View Cabaret 4 appeared in 1 cities across the dataset. For instance: Paterson, NJ
Unnamed performer at Grand View Cabaret 5 appeared in 1 cities across the dataset. For instance: Paterson, NJ
Unnamed performer at Grand View Cabaret 6 appeared in 1 cities across the dataset. For instance: Paterson, NJ
Unnamed performer at Knoll's Inn 1 appeared in 1 cities across the dataset. For instance: Wappingers Falls, NY
Unnamed performer at Knoll's Inn 2 appeared in 1 cities across the dataset. For instance: Wappingers Falls, NY
Unnamed performer at Knoll's Inn 3 appeared in 1 cities across the dataset. For instance: Wappingers Falls, NY
Unnamed performer at Knoll's Inn 4 appeared in 1 cities across the dataset. For instance: Wappingers Falls, NY
Unnamed performer at Knoll's Inn 5 appeared in 1 cities across the dataset. For instance: Wappingers Falls, NY
Unnamed performer at Knoll's Inn 6 appeared in 1 cities across the dataset. For instance: Wappingers Falls, NY
Unnamed performer at Knoll's Inn 7 appeared in 1 cities across the dataset. For instance: Wappingers Falls, NY
Unnamed performer at La Villa 1 appeared in 1 cities across the dataset. For instance: Syracuse, NY
Unnamed performer at La Villa 2 appeared in 1 cities across the dataset. For instance: Syracuse, NY
Unnamed performer at La Villa 3 appeared in 1 cities across the dataset. For instance: Syracuse, NY
Unnamed performer at La Villa 4 appeared in 1 cities across the dataset. For instance: Syracuse, NY
Unnamed performer at La Villa 5 appeared in 1 cities across the dataset. For instance: Syracuse, NY
Unnamed performer at La Villa 6 appeared in 1 cities across the dataset. For instance: Syracuse, NY
Unnamed performer at La Villa 7 appeared in 1 cities across the dataset. For instance: Syracuse, NY
Unnamed performer at La Villa 8 appeared in 1 cities across the dataset. For instance: Syracuse, NY
Unnamed performer at Palace Theatre appeared in 1 cities across the dataset. For instance: New York, NY
Unnamed performer at Palais Royal 1 appeared in 1 cities across the dataset. For instance: Lansing, MI
Unnamed performer at Palais Royal 10 appeared in 1 cities across the dataset. For instance: Lansing, MI
Unnamed performer at Palais Royal 11 appeared in 1 cities across the dataset. For instance: Lansing, MI
Unnamed performer at Palais Royal 12 appeared in 1 cities across the dataset. For instance: Lansing, MI
Unnamed performer at Palais Royal 13 appeared in 1 cities across the dataset. For instance: Lansing, MI
Unnamed performer at Palais Royal 14 appeared in 1 cities across the dataset. For instance: Lansing, MI
Unnamed performer at Palais Royal 2 appeared in 1 cities across the dataset. For instance: Lansing, MI
Unnamed performer at Palais Royal 3 appeared in 1 cities across the dataset. For instance: Lansing, MI
Unnamed performer at Palais Royal 4 appeared in 1 cities across the dataset. For instance: Lansing, MI
Unnamed performer at Palais Royal 5 appeared in 1 cities across the dataset. For instance: Lansing, MI
Unnamed performer at Palais Royal 6 appeared in 1 cities across the dataset. For instance: Lansing, MI
Unnamed performer at Palais Royal 7 appeared in 1 cities across the dataset. For instance: Lansing, MI
Unnamed performer at Palais Royal 8 appeared in 1 cities across the dataset. For instance: Lansing, MI
Unnamed performer at Palais Royal 9 appeared in 1 cities across the dataset. For instance: Lansing, MI
Unnamed performer at Plaza Cafe 1 appeared in 1 cities across the dataset. For instance: Pittsburgh, PA
Unnamed performer at Plaza Cafe 2 appeared in 1 cities across the dataset. For instance: Pittsburgh, PA
Unnamed performer at Plaza Cafe 3 appeared in 1 cities across the dataset. For instance: Pittsburgh, PA
Unnamed performer at Plaza Cafe 4 appeared in 1 cities across the dataset. For instance: Pittsburgh, PA
Unnamed performer at Plaza Cafe 5 appeared in 1 cities across the dataset. For instance: Pittsburgh, PA
Unnamed performer at Plaza Cafe 6 appeared in 1 cities across the dataset. For instance: Pittsburgh, PA
Unnamed performer at Plaza Cafe 7 appeared in 1 cities across the dataset. For instance: Pittsburgh, PA
Unnamed performer at Plaza Cafe 8 appeared in 1 cities across the dataset. For instance: Pittsburgh, PA
Unnamed performer at President Cafe 1 appeared in 1 cities across the dataset. For instance: St. Louis, MO
Unnamed performer at President Cafe 2 appeared in 1 cities across the dataset. For instance: St. Louis, MO
Unnamed performer at President Cafe 3 appeared in 1 cities across the dataset. For instance: St. Louis, MO
Unnamed performer at President Cafe 4 appeared in 1 cities across the dataset. For instance: St. Louis, MO
Unnamed performer at President Cafe 5 appeared in 1 cities across the dataset. For instance: St. Louis, MO
Unnamed performer at President Cafe 6 appeared in 1 cities across the dataset. For instance: St. Louis, MO
Unnamed performer at President Cafe 7 appeared in 1 cities across the dataset. For instance: St. Louis, MO
Unnamed performer at President Cafe 8 appeared in 1 cities across the dataset. For instance: St. Louis, MO
Unnamed performer at Rockland Palace appeared in 1 cities across the dataset. For instance: New York, NY
Unnamed performer at The Broadway 1 appeared in 1 cities across the dataset. For instance: Jamestown, NY
Unnamed performer at The Broadway 10 appeared in 1 cities across the dataset. For instance: Jamestown, NY
Unnamed performer at The Broadway 11 appeared in 1 cities across the dataset. For instance: Jamestown, NY
Unnamed performer at The Broadway 2 appeared in 1 cities across the dataset. For instance: Jamestown, NY
Unnamed performer at The Broadway 3 appeared in 1 cities across the dataset. For instance: Jamestown, NY
Unnamed performer at The Broadway 4 appeared in 1 cities across the dataset. For instance: Jamestown, NY
Unnamed performer at The Broadway 5 appeared in 1 cities across the dataset. For instance: Jamestown, NY
Unnamed performer at The Broadway 6 appeared in 1 cities across the dataset. For instance: Jamestown, NY
Unnamed performer at The Broadway 7 appeared in 1 cities across the dataset. For instance: Jamestown, NY
Unnamed performer at The Broadway 8 appeared in 1 cities across the dataset. For instance: Jamestown, NY
Unnamed performer at The Broadway 9 appeared in 1 cities across the dataset. For instance: Jamestown, NY
Unnamed performer at The Jefferson Theatre appeared in 1 cities across the dataset. For instance: New York, NY
Unnamed performer at The Paddock 1 appeared in 1 cities across the dataset. For instance: Louisville, KY
Unnamed performer at The Paddock 10 appeared in 1 cities across the dataset. For instance: Louisville, KY
Unnamed performer at The Paddock 11 appeared in 1 cities across the dataset. For instance: Louisville, KY
Unnamed performer at The Paddock 12 appeared in 1 cities across the dataset. For instance: Louisville, KY
Unnamed performer at The Paddock 13 appeared in 1 cities across the dataset. For instance: Louisville, KY
Unnamed performer at The Paddock 14 appeared in 1 cities across the dataset. For instance: Louisville, KY
Unnamed performer at The Paddock 2 appeared in 1 cities across the dataset. For instance: Louisville, KY
Unnamed performer at The Paddock 3 appeared in 1 cities across the dataset. For instance: Louisville, KY
Unnamed performer at The Paddock 4 appeared in 1 cities across the dataset. For instance: Louisville, KY
Unnamed performer at The Paddock 5 appeared in 1 cities across the dataset. For instance: Louisville, KY
Unnamed performer at The Paddock 6 appeared in 1 cities across the dataset. For instance: Louisville, KY
Unnamed performer at The Paddock 7 appeared in 1 cities across the dataset. For instance: Louisville, KY
Unnamed performer at The Paddock 8 appeared in 1 cities across the dataset. For instance: Louisville, KY
Unnamed performer at The Paddock 9 appeared in 1 cities across the dataset. For instance: Louisville, KY
Unnamed performer at The Stables 1 appeared in 1 cities across the dataset. For instance: Minneapolis, MN
Unnamed performer at The Stables 2 appeared in 1 cities across the dataset. For instance: Minneapolis, MN
Unnamed performer at The Stables 3 appeared in 1 cities across the dataset. For instance: Minneapolis, MN
Unnamed performer at The Stables 4 appeared in 1 cities across the dataset. For instance: Minneapolis, MN
Unnamed performer at Valle's Inn 1 appeared in 1 cities across the dataset. For instance: Portland, ME
Unnamed performer at Valle's Inn 2 appeared in 1 cities across the dataset. For instance: Portland, ME
Unnamed performer at Valle's Inn 3 appeared in 1 cities across the dataset. For instance: Portland, ME
Unnamed performer at Valle's Inn 4 appeared in 1 cities across the dataset. For instance: Portland, ME
Unnamed performer at Valle's Inn 5 appeared in 1 cities across the dataset. For instance: Portland, ME
Unnamed performer at Wagon Wheel 1 appeared in 1 cities across the dataset. For instance: Nashville, TN
Unnamed performer at Wagon Wheel 10 appeared in 1 cities across the dataset. For instance: Nashville, TN
Unnamed performer at Wagon Wheel 11 appeared in 1 cities across the dataset. For instance: Nashville, TN
Unnamed performer at Wagon Wheel 12 appeared in 1 cities across the dataset. For instance: Nashville, TN
Unnamed performer at Wagon Wheel 13 appeared in 1 cities across the dataset. For instance: Nashville, TN
Unnamed performer at Wagon Wheel 14 appeared in 1 cities across the dataset. For instance: Nashville, TN
Unnamed performer at Wagon Wheel 2 appeared in 1 cities across the dataset. For instance: Nashville, TN
Unnamed performer at Wagon Wheel 3 appeared in 1 cities across the dataset. For instance: Nashville, TN
Unnamed performer at Wagon Wheel 4 appeared in 1 cities across the dataset. For instance: Nashville, TN
Unnamed performer at Wagon Wheel 5 appeared in 1 cities across the dataset. For instance: Nashville, TN
Unnamed performer at Wagon Wheel 6 appeared in 1 cities across the dataset. For instance: Nashville, TN
Unnamed performer at Wagon Wheel 7 appeared in 1 cities across the dataset. For instance: Nashville, TN
Unnamed performer at Wagon Wheel 8 appeared in 1 cities across the dataset. For instance: Nashville, TN
Unnamed performer at Wagon Wheel 9 appeared in 1 cities across the dataset. For instance: Nashville, TN
Unnamed performer at Willis Theatre appeared in 1 cities across the dataset. For instance: New York, NY
Unnamed performer at Wonder Bar 1 appeared in 1 cities across the dataset. For instance: New Orleans, LA
Unnamed performer at Wonder Bar 2 appeared in 1 cities across the dataset. For instance: New Orleans, LA
Unnamed performer at Wonder Bar 3 appeared in 1 cities across the dataset. For instance: New Orleans, LA
Unnamed performer at Wonder Bar 4 appeared in 1 cities across the dataset. For instance: New Orleans, LA
Unnamed performer at Wonder Bar 5 appeared in 1 cities across the dataset. For instance: New Orleans, LA
Unnamed performer at Wonder Bar 6 appeared in 1 cities across the dataset. For instance: New Orleans, LA
Unnamed performer at the Olympia Theatre appeared in 0 cities across the dataset. For instance:
Unnamed performer at the Regal Theatre appeared in 1 cities across the dataset. For instance: Chicago, IL
Unnamed performer from Bob Copfer Four appeared in 1 cities across the dataset. For instance: New York, NY
Unnamed performer from Earle appeared in 1 cities across the dataset. For instance: Philadelphia, PA
Unnamed performer from The Mimic Men 2 appeared in 1 cities across the dataset. For instance: New York, NY
Unnamed performer from Winslow Four appeared in 1 cities across the dataset. For instance: New York, NY
Unnamed performer hissed off stage appeared in 0 cities across the dataset. For instance:
Unnamed performer in The Seven Collegians appeared in 1 cities across the dataset. For instance: Rochester, NY
Unnamed tall, black performer appeared in 1 cities across the dataset. For instance: New York, NY
Val Rai appeared in 2 cities across the dataset. For instance: Reno, NV; Seattle, WA
Val Turek appeared in 2 cities across the dataset. For instance: Akron, OH; Massillon, OH
Val Varr appeared in 1 cities across the dataset. For instance: Pittsburgh, PA
Valda Gray appeared in 1 cities across the dataset. For instance: Chicago, IL
Vera Mazzie appeared in 1 cities across the dataset. For instance: Benton Harbor, MI
Vera Walters appeared in 1 cities across the dataset. For instance: Freeport, NY
Verida Pearson appeared in 1 cities across the dataset. For instance: New York, NY
Verne Valdez appeared in 13 cities across the dataset. For instance: Baltimore, MD; Cleveland, OH; Columbus, OH
Vernon Fountain appeared in 1 cities across the dataset. For instance: Cincinnati, OH
Vernon Hoff appeared in 13 cities across the dataset. For instance: Akron, OH; Chicago, IL; Cincinnati, OH
Vicki appeared in 1 cities across the dataset. For instance: Chicago, IL
Vincent McFarland appeared in 1 cities across the dataset. For instance: New York City, NY
Vincent Reid appeared in 2 cities across the dataset. For instance: New York, NY; Philadelphia, PA
Viola Layne appeared in 1 cities across the dataset. For instance: New York, NY
Violet Ceravola appeared in 1 cities across the dataset. For instance: Miami, FL
Violet Clements appeared in 1 cities across the dataset. For instance: Miami, FL
Wallace Reed appeared in 1 cities across the dataset. For instance: Davenport, IA
Wallie Groff appeared in 1 cities across the dataset. For instance: Versailles, MO
Wally Brennan appeared in 2 cities across the dataset. For instance: Albany, NY; Saratoga Springs, NY
Wally Thompson appeared in 1 cities across the dataset. For instance: Miami, FL
Walter Davis appeared in 1 cities across the dataset. For instance: Lima, OH
Walter Hart appeared in 1 cities across the dataset. For instance: San Francisco, CA
Walter McDonald appeared in 1 cities across the dataset. For instance: Miami, FL
Walter Morgan appeared in 1 cities across the dataset. For instance: Philadelphia, PA
Walter Munde appeared in 1 cities across the dataset. For instance: New York, NY
Walter Thomas appeared in 1 cities across the dataset. For instance: Pittsburgh, PA
Wanda Bean appeared in 1 cities across the dataset. For instance: Chicago, IL
Weldon Short appeared in 1 cities across the dataset. For instance: El Paso, TX
Wesley Davis appeared in 6 cities across the dataset. For instance: Berwyn, IL; Chicago, IL; Cincinnati, OH
Whitey Harris appeared in 0 cities across the dataset. For instance:
Wilkie Mason appeared in 3 cities across the dataset. For instance: Cincinnati, OH; Detroit, MI; Minneapolis, MN
William Green appeared in 0 cities across the dataset. For instance:
William Harris appeared in 1 cities across the dataset. For instance: New York, NY
William Johnson appeared in 1 cities across the dataset. For instance: Los Angeles, CA
William Lee Becker appeared in 1 cities across the dataset. For instance: Wappingers Falls, NY
Willie Duices appeared in 0 cities across the dataset. For instance:
Woody Wilson appeared in 1 cities across the dataset. For instance: Cincinnati, OH
Yonder Thompson appeared in 0 cities across the dataset. For instance:
Yvonne — appeared in 1 cities across the dataset. For instance: Detroit, MI
Zalman appeared in 0 cities across the dataset. For instance:
Zorina La Cross appeared in 1 cities across the dataset. For instance: Lima, OH
[Harold Shinn] appeared in 1 cities across the dataset. For instance: New Orleans, LA
— Alexandria appeared in 0 cities across the dataset. For instance:
— Allworth appeared in 1 cities across the dataset. For instance: Philadelphia, PA
— Brennan appeared in 1 cities across the dataset. For instance: New York, NY
— Burns appeared in 1 cities across the dataset. For instance: Philadelphia, PA
— Diana appeared in 1 cities across the dataset. For instance: Kansas City, MO
— Diaz appeared in 1 cities across the dataset. For instance: Kansas City, MO
— Dion appeared in 2 cities across the dataset. For instance: Akron, OH; Detroit, MI
— Dunn appeared in 1 cities across the dataset. For instance: Philadelphia, PA
— Enesco appeared in 2 cities across the dataset. For instance: Chicago, IL; Miami, FL
— Gresham appeared in 1 cities across the dataset. For instance: Baltimore, MD
— Kay appeared in 1 cities across the dataset. For instance: Kansas City, MO
— King appeared in 1 cities across the dataset. For instance: New York, NY
— Knox appeared in 1 cities across the dataset. For instance: Baltimore, MD
— La Mar appeared in 1 cities across the dataset. For instance: Philadelphia, PA
— Lacy appeared in 1 cities across the dataset. For instance: Grand Rapids, MI
— Leslie appeared in 1 cities across the dataset. For instance: Baltimore, MD
— Lewis appeared in 1 cities across the dataset. For instance: Chicago, IL
— Mack appeared in 1 cities across the dataset. For instance: Baltimore, MD
— Marion appeared in 2 cities across the dataset. For instance: Akron, OH; Detroit, MI
— Marshall appeared in 1 cities across the dataset. For instance: Boston, MA